html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

img {
  width: 100%;
}

body {
  color: #222;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", bold;
  font-weight: bold;
}

nav {
  font-size: 1.125rem;
}

ol, li {
  list-style-type: lower-greek;
}

.logo, .main-nav, .nav-1, .nav-2, .nav-3 {
  font-family: "PT Sans", bold;
  font-weight: bold;
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  font-size: .8rem;
  font-family: "PT Serif", italic;
  font-style: italic;
  text-align: center;
}

p {
  font-family: "PT Serif";
  font-weight: normal;
}

.days {
  font-size: 1.125rem;
  font-family: "PT Serif", bold;
  font-weight: bold;
}

blockquote > p {
  font-size: 1.5rem;
  font-family: "PT Serif", bold;
  font-style: italic;
}

footer + cite {
  font-size: .8rem;
  font-family: "PT Serif", italic;
  font-style: italic;
}

h2 > ol {
  font-size: .8rem;
  font-family: "PT Serif";
  font-weight: normal;
  list-style-type: lower-greek;
}

h2 p {
  font-family: "PT Serif";
  font-weight: normal;
}

dt {
  font-family: "PT Serif", bold;
  font-weight: bold;
}

dd {
  font-family: "PT Serif";
  font-weight: normal;
}

aside li {
  font-size: .8rem;
  font-family: "PT Serif";
  font-weight: normal;
  list-style-type: circle;
}

[href^="http"] {
  color: #8f2440;
  text-decoration: none;
}
