html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

body {
  color: #222;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans";
  font-weight: bold;
}

nav a {
  color: #8f2440;
  font-size: 1.125rem;
  font-family: "PT Sans";
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
}

figcaption {
  font-size: 0.8rem;
  font-family: "PT Serif";
  font-style: italic;
  text-align: center;
}

figure p:first-child {
  font-size: 1.125rem;
  font-family: "PT Serif";
  font-weight: bold;
}

p:not(.P55D) {
  font-size: 0.8rem;
  font-family: "PT Serif";
  font-style: normal;
}

[href^="http://"] {
  color: #8f2440;
}
